nav .brand-logo{
    padding-left: 15px;
}

.container .cards-default{
    margin-top: 20px;
}

#login {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.titulo-login{
    padding: 10px 0;
}

.form-login{
    margin-top: 40px;
}

.card-principal-categoria{
    margin-top: 40px;
}

/*classe utilizada em todos os cards que não exibirão imagem*/
.card-top-default{
    padding: 20px 10px;

}

#modalEditar .modal .modal-content{
    padding: 0;
}

#modalEditar .card{
    margin: 0;
}

/* always present */
.expand-transition {
    transition: all .3s ease;
    height: 30px;
    padding: 10px;
    background-color: #eee;
    overflow: hidden;
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}