nav .brand-logo{
    padding-left: 15px;
}

.container .cards-default{
    margin-top: 20px;
}

#login {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}